* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    font-size: 12px;
    font-family: monospace;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 12px;
}

.promo {
    margin-bottom: 0.67em;
}

.tabs {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.tab {
    display: flex;
    flex-direction: column;
}

.code {
    margin: 0;
    border: 1px solid #ccc;
    flex-grow: 1;
}

.source-header {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
